.wrap-page {
  padding: 2rem 0;
}

.wrap-header {
  display: flex;
  flex-direction: column;
}

.post-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  /* margin-bottom: 0.5rem; */
  list-style: none;
  padding: 0;
}

.post-category {
  font-size: 1rem;
  color: white;
  background-color: rgb(221, 180, 0);
  border-radius: 1rem;
  padding: 0.35rem 0.6rem 0.25rem 0.6rem;
  margin: 0;
  box-sizing: border-box;
}

.post-title {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.8rem 0 0.5rem 0;
}

.post-date {
  font-size: 1rem;
  color: rgb(150, 150, 150);
}

.wrap-notioncontent {
  padding: 1rem 0;
}

.post-footer {
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid rgb(230, 230, 230);
  display: block;
}

.post-footer-text {
  font-size: 0.9rem;
  color: rgb(100, 100, 100);
  line-height: 1.6;
  margin: 0.5rem 0;
  display: block;
}

.post-footer-link {
  color: rgb(37, 99, 235);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.post-footer-link:hover {
  color: rgb(29, 78, 216);
}
