.wrap-footer {
  font-family: Pretendard;
  height: 2rem;
  padding: 2rem 1rem;
  text-align: center;

  /* .item-github {
    font-size: 0.8rem;
    margin-bottom: 1rem;

    .icon-github {
      width: 1.2rem;
    }
  } */

  .item-copyright {
    font-size: 0.8rem;
  }
}
