.wrap-nav {
  font-family: Pretendard;
  width: 100%;
  border-bottom: 1px solid rgb(225, 225, 225);
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;

  .wrap-list {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .list-item {
      display: flex;
      padding: 0.25rem 0;
      margin: auto 0;
    }

    .site-name {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .icon-profile {
      width: 1.5rem;
      /* margin-right: 0.5rem; */
      margin: 0 0.25rem;
    }

    .icon-user {
      width: 1.5rem;
      padding: 0.05rem;
    }
  }
}

/* .active {
  background-color: rgb(232, 232, 232);
  border-radius: 5rem;
} */
