.wrap-nav {
  font-family: Pretendard;
  width: 100%;
  /* border-bottom: 1px solid rgb(208, 208, 208); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;

  .site-title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
  }

  .wrap-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    .line {
      padding: 0 0.5rem;
      color: rgb(100, 100, 100);
    }

    .site-name {
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

.active {
  background-color: rgb(251, 231, 77);
}
