.wrap-nav {
  font-family: Pretendard;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;

  .wrap-list {
    display: flex;

    .list-item {
      font-size: 1.2rem;
      font-weight: 500;
      padding-right: 15px;
      margin: auto 0;
      /* width: 30px; */
      /* height: 30px; */
    }

    .list-icon {
      padding-left: 10px;
      margin: auto 0;

      .icon-github,
      .icon-rss {
        width: 2rem;
      }
    }
  }
}
