.wrap-header {
  font-family: Pretendard;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;

  .section-name {
    font-weight: 600;
  }

  .tags-button {
    font-size: 1.1rem;
  }
}
